
<h2>Shopping Cart Contents</h2>

<div>
  <% if @order.nil? && session[:cart].empty? %>
    <h3>Your Cart is Currently Empty. Go add <%=link_to "Some Awesome Products", products_path %> to your cart!</h3>

  <% elsif @order && @order.order_contents.any? %>

    <%= render partial: "cart_contents", locals: {order: @order} %>

  <% else %>

    <%= render partial: "visitor_cart_contents", locals: {list: session[:cart]} %>

  <% end %>

</div>
